<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Sign Up</h2>
    </div>
    <div class="card-body">
  <form [formGroup]="userForm" (ngSubmit)="onLogin()"  class="row g-3 needs-validation">
    <div>
      <label for="email">Email</label>
      <input class="form-control"  type="email" id="email" formControlName="email">
      <div *ngIf="isFormSubmitted && email?.invalid" class="error-message">
        <small *ngIf="email?.errors?.['required']">Email is required.</small>
        <small *ngIf="email?.errors?.['email']">Email must be a valid email address.</small>
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input class="form-control"  type="password" id="password" formControlName="password">
      <div *ngIf="isFormSubmitted && password?.invalid" class="error-message">
        <small *ngIf="password?.errors?.['required']">Password is required.</small>
        <small *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long.</small>
      </div>
    </div>
    <button type="submit" class="btn custom-button text-center">Login</button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
