<div class="container">
  <div class="main-body">
    <div class="d-flex justify-content-between align-items-center my-3">
      <div class="d-flex align-items-center">
        <h3 class="text-dark">List Of Doctors </h3>
      </div>
    </div>
    <hr class="custom-hr">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <!-- Search form -->
        <form class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" placeholder="Search by doctor full name">
            <button type="button" class="btn text-light" (click)="search()" style="background-color: #1CA4AC;">Search</button>
          </div>
        </form>

        <div *ngIf="dataSource.data.length > 0" class="container text-center">
          <table mat-table [dataSource]="dataSource" matSort class="table table-striped custom-table center-text w-100">
            <ng-container matColumnDef="full_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Full Name</th>
              <td mat-cell *matCellDef="let doctor">{{ doctor.first_name }} {{ doctor.last_name }}</td>
            </ng-container>
            
            <ng-container matColumnDef="phone_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Phone Number</th>
              <td mat-cell *matCellDef="let doctor">{{ doctor.phone_number }}</td>
            </ng-container>
            
            <ng-container matColumnDef="specialization">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Specialization</th>
              <td mat-cell *matCellDef="let doctor">{{ doctor.specialization }}</td>
            </ng-container>
            
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-right: 130px;">Actions</th>
              <td mat-cell *matCellDef="let doctor">
                <a [routerLink]="['/admin-dashboard/showdoctors', doctor.id]">
                  <mat-icon class="custom-info-icon">visibility</mat-icon>
                </a>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{ filterValue }}"</td>
            </tr>
          </table>

          <mat-paginator [length]="totalDoctors" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
          </mat-paginator>
        </div>

        <div *ngIf="dataSource.data.length === 0" class="container">
          <h3 class="alert alert-info">No doctors data available.</h3>
        </div>

        <div *ngIf="!doctors" class="container">
          <p class="alert alert-danger">Loading...</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
