.update-profile-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 30px;
  padding-left: 50px;
  margin-top: 110px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7fafb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #0f0f0f;
}

.update-profile-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.update-profile-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.update-profile-container .form-group {
  width: 48%;
}

.update-profile-container .form-group.image-group {
  display: flex;
  align-items: center;
}

/* .update-profile-container .image-preview {
  margin-right: 90px;
} */


.update-profile-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.update-profile-container input[type="text"],
.update-profile-container input[type="email"],
.update-profile-container input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #1ca4ac;
  color: #ffffff;
}

.update-profile-container button {
  background-color: #1ca4ac;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-profile-container button:hover {
  background-color: #0251a5;
}

.error-message {
  color: rgb(228, 14, 14);
  font-size: 0.875rem;
}

.success-message {
  color: green;
  font-size: 0.875rem;
}
