<div class="container">

  <div class="my-5">
    <h3>Reporting</h3>
    <hr class="custom-hr">
  </div>


  <div class="filter-container">
    <div class="dropdown">
        <select id="userSelect" [(ngModel)]="selectedUserId" (ngModelChange)="filterByUser(selectedUserId)">
            <option value="" disabled>Select User</option>
            <option *ngFor="let user of users" [value]="user.id">{{ user.first_name }} {{ user.last_name }}</option>
        </select>
    </div>
  
    <div class="date-filters">
        <label for="startDate">Start Date</label>
        <input id="startDate" type="date" [(ngModel)]="startDate" (ngModelChange)="filterByDateRange()" />
        <label for="endDate">End Date</label>
        <input id="endDate" type="date" [(ngModel)]="endDate" (ngModelChange)="filterByDateRange()" />
    </div>
</div>
 
  
<div class="mt-5 d-flex justify-content-center align-items-center">
  <h4 class="card-header"><i class="fas fa-file-alt"></i> Medical Visit Report </h4>
  <button class="search-button ml-3" (click)="generatePDF()"><i class="fas fa-download"></i></button>
</div>


  
  <div id="visit-report-content">
    <div *ngFor="let visit of filteredVisitReports" class="visit-report-card m-auto my-2">
      <div class="table-responsive">
        <table class="table table-bordered table-striped custom-table">
          <tbody>
            <tr>
              <td><strong>Medical rep Name</strong></td>
              <td>{{ visit.user.first_name }} {{ visit.user.last_name }}</td>
            </tr>
            <tr>
              <td><strong>Date</strong></td>
              <td>{{ visit.visit_date }}</td>
            </tr>
            <tr>
              <td><strong>Time</strong></td>
              <td>{{ visit.visit_time }}</td>
            </tr>
            <tr>
              <td><strong>Visit Location</strong></td>
              <td>{{ visit.doctors[0].street }}, {{ visit.doctors[0].state }}, {{ visit.doctors[0].city }}</td>
            </tr>
            <tr>
              <td><strong>Doctor Name</strong></td>
              <td>{{ visit.doctors[0].first_name }} {{ visit.doctors[0].last_name }}</td>
            </tr>
            <tr>
              <td><strong>Doctor Specialization</strong></td>
              <td>{{ visit.doctors[0].specialization }}</td>
            </tr>
            <tr>
              <td><strong>Doctor Contact info</strong></td>
              <td>{{ visit.doctors[0].phone_number }}</td>
            </tr>
            <tr>
              <td><strong>Purpose of Visit</strong></td>
              <td>{{ visit.purpose }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
