

<div *ngIf="sale" class="container card shadow p-4 mb-5 bg-white rounded">
    <h3 class="">Sales Details</h3>
<hr class=" custom-hr">
    <h3 class="text-primary mb-4">{{ sale.product_name }}</h3>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Total Units:</strong> {{ sale.total_units }}</p>
            <p><strong>Unit Price:</strong> {{ sale.unit_price | currency }}</p>
            <p><strong>Target Units:</strong> {{ sale.target_units }}</p>
            <p><strong>Target Unit Price:</strong> {{ sale.unit_target_price | currency }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Total Actual Price:</strong> {{ sale.total_actual_price | currency }}</p>
            <p><strong>Total Target Price:</strong> {{ sale.total_target_price | currency }}</p>
            <p><strong>Start Date:</strong> {{ sale.start_date | date }}</p>
            <p><strong>End Date:</strong> {{ sale.end_date | date }}</p>
        </div>
    </div>
</div>

<div *ngIf="!sale" class="container text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p>Loading...</p>
</div>
