.mat-mdc-dialog-content {
    max-height: 80vh;
    overflow-y: auto;
}

form {
    width: 28vw;
    min-width: 300px; 
}
.form-field {
    margin-left: auto;
    margin-right: auto;
}
.btn-primary {
    background-color: #1CA4AC; 
    border-color: #1CA4AC; 
}

.btn-primary:hover {
    background-color: #0C728C;
    border-color: #0C728C; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    form {
        width: 80vw; /* Take more space on smaller screens */
    }
}

@media (max-width: 480px) {
    form {
        width: 90vw; /* Take almost full width on very small screens */
    }
}
