<header>
    <nav class="navbar">
      <div class="logo">
        <img src="path/to/logo.png" alt="Logo">
      </div>
      <ul class="nav-links">
        <li><a href="/user/plan">Plan</a></li>
        <li><a href="/sales">Sales</a></li>
        <li><a href="/doctors-list">Doctor's List</a></li>
        <li><a href="/map">Map</a></li>
      </ul>
      <div class="actions">
        <button class="btn submit">Submit</button>
      
        
        <div class="user-menu">
          <img src="path/to/user/avatar.png" alt="User Avatar">
        
          <span>{{ admin?.first_name }} {{ admin?.last_name }}</span>
        </div>
      </div>
    </nav>
  </header>
  
