<div class="container">
    <div class="card">
      <div class="card-header text-center text-light">
        Login Form
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" class="row  g-3 d-flex needs-validation" [formGroup]="userForm">
          <div class="mb-3">
            <label for="email" class="form-label ">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email" required>
            <div class="text-danger" *ngIf="userForm.controls['email'].invalid && (isFormSubmitted || userForm.controls['email'].touched)">
              <span *ngIf="userForm.controls['email'].errors?.['required']">Email Is Required</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label ">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter your password" required>
            <div class="text-danger" *ngIf="userForm.controls['password'].invalid && (isFormSubmitted || userForm.controls['password'].touched)">
              <span *ngIf="userForm.controls['password'].errors?.['required']">Password Is Required</span>
            </div>
          </div>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="d-grid">
            <button type="submit" class="btn custom-button text-center" [disabled]="userForm.invalid">Login</button>
          </div>
          <div class="signup-link">Not a member? <a routerLink="/admin/register">Signup now</a></div>
        </form>
      </div>
    </div>
  </div>
  <div class="background-image"></div>
  