<mat-toolbar color="primary" class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <span class="spacer"></span>
    
    <div class="user-profile">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <span>David Smith</span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>

    </div>
    <button mat-button class="add-med-rep"(click)="openaddeditform()">
        <mat-icon >person_add</mat-icon>
       
      </button>

  </mat-toolbar>
  