<!-- update-user-profile.component.html -->
<div class="update-profile-container">
  <h2>Update Profile</h2>
  <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
    <!-- First Name -->
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input id="first_name" type="text" formControlName="first_name">
      <div *ngIf="updateProfileForm.get('first_name')?.hasError('onlyLetters')">
        <span class="error-message">First name should contain only letters.</span>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input id="last_name" type="text" formControlName="last_name">
      <div *ngIf="updateProfileForm.get('last_name')?.hasError('onlyLetters')">
        <span class="error-message">Last name should contain only letters.</span>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="updateProfileForm.get('email')?.hasError('emailFormat')" class="error-message">
       Invalid email format.
      </div>
      
      <div *ngIf="emailExistsError" class="error-message">
        This email is already exists.
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

    </div>
    
    <!-- Phone Number -->
    <div class="form-group">
      <label for="phone_number">Phone Number</label>
      <input id="phone_number" type="text" formControlName="phone_number">
      <div *ngIf="updateProfileForm.get('phone_number')?.hasError('numeric')">
        <span class="error-message">Phone number should be number.</span>
      </div>
    </div>
    
    <!-- State -->
    <div class="form-group">
      <label for="state">State</label>
      <input id="state" type="text" formControlName="state">
      <div *ngIf="updateProfileForm.get('state')?.hasError('onlyLetters')">
        <span class="error-message">State should contain only letters.</span>
      </div>
    </div>

    <!-- City -->
    <div class="form-group">
      <label for="city">City</label>
      <input id="city" type="text" formControlName="city">
      <div *ngIf="updateProfileForm.get('city')?.hasError('onlyLetters')">
        <span class="error-message">City should contain only letters.</span>
      </div>
    </div>

    <!-- Street -->
    <div class="form-group">
      <label for="street">Street</label>
      <input id="street" type="text" formControlName="street">
      <div *ngIf="updateProfileForm.get('street')?.hasError('alphanumeric')">
        <span class="error-message">Street should contain only alphanumeric characters.</span>
      </div>
    </div>


    <!-- Territory -->
    <div class="form-group">
      <label for="territory">Territory</label>
      <input id="territory" type="text" formControlName="territory">
      <div *ngIf="updateProfileForm.get('territory')?.hasError('onlyLetters')">
        <span class="error-message">Territory should contain only letters.</span>
      </div>
    </div>

    
    
    <!-- Birth Date -->
    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input id="birthDate" type="date" formControlName="birthDate" class="form-control">
    </div>

    <!-- Image -->
    <div class="form-group image-group">
      <label for="image" class="form-label">Image</label>
      <input id="image" type="file" (change)="onFileChange($event)" class="image-input form-control">
    </div>

    <!-- Submit Button -->
    <div class="button-group">
      <button type="submit" [disabled]="updateProfileForm.invalid" >Update</button>
      <a [routerLink]="['/user/user-profile']" class="btn btn-secondary mx-2 ">Cancle</a>
    </div>
  </form>
</div>
