<div class="admin-profile-container user-profile-container">
  <div class="profile-header">
    <div class="profile-image-container">
      <img [src]="userProfile[0]?.image || defaultImage" class="profile-image" alt="User Image">
    </div>
    <h2 class="profile-name">{{ userProfile[0]?.first_name }} {{ userProfile[0]?.last_name }}</h2>
  </div>
  <div class="profile-details">
    <div class="form-group">
      <label>State:</label>
      <span class="profile-text">{{ userProfile[0]?.state }}</span>
    </div>
    <div class="form-group">
      <label>City:</label>
      <span class="profile-text">{{ userProfile[0]?.city }}</span>
    </div>
    <div class="form-group">
      <label>Street:</label>
      <span class="profile-text">{{ userProfile[0]?.street }}</span>
    </div>
    <div class="form-group">
      <label>Phone Number:</label>
      <span class="profile-text">{{ userProfile[0]?.phone_number }}</span>
    </div>
    <div class="form-group">
      <label>Territory:</label>
      <span class="profile-text">{{ userProfile[0]?.territory }}</span>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <span class="profile-text">{{ userProfile[0]?.email }}</span>
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <span class="profile-text" placeholder="Enter your gender">{{ userProfile[0]?.gender }}</span>
    </div>
    <div class="form-group">
      <label>Birth Date:</label>
      <span class="profile-text">{{ userProfile[0]?.birthDate }}</span>
    </div>
    <button class="update-button" (click)="navigateToUpdateProfile()">Update</button>
  </div>
</div>
