<mat-toolbar color="primary" class="navbar">
    <div class="logo d-flex">
      <img src="assets/images/first_logo.svg" alt="RepAlert" width="50" height="50"/>
      <h4 class="logo_text">RepAlert</h4>
    </div>
    <span class="spacer"></span>
    
    <div class="user-profile">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
<!--          <img [src]="user.image" alt="User Image" />
        <span>{{ user.first_name }}</span>
 -->      </button>
    
      
      <button *ngIf="user" (click)="logout()">Logout</button>

      <div *ngIf="loggedInAdmin">
        <h2>Welcome, {{ loggedInAdmin.first_name }}</h2>
        <p>Email: {{ loggedInAdmin.email }}</p>
        <!-- Display other admin details as needed -->
      </div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <li class="navbar-item">
          <button (click)="logout()">Logout</button>
        </li>
           </mat-menu>

    </div>
   

  </mat-toolbar>
  