.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #24A8EF;
  }
  
  .logo img {
    height: 40px;
    border-radius: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile mat-icon {
    margin-right: 8px;
  }
