.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #1CA4AC;
    position: fixed;
    top: 0;
    left: 0;
  }
  

  .logo .logo_text{
    margin-left: 3px;
    margin-top: 6px;
    font-family: "Lobster Two", sans-serif;
     font-weight: 700;
     font-style: normal;
    font-size: 29px;
 
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile mat-icon {
    margin-right: 8px;
  }

  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
  user-profile-button{
    margin: 500px;
  }

  @media (max-width: 768px) {
    .navbar {
      padding: 0 .5rem;
    }
  
    .logo img {
      width: 40px;
      height: 40px;
      margin-right: 5px; 
      margin-left: 5px;
    }
  
    .logo_text {
      font-size: 20px; 
    }
  
    .user-profile-button {
      font-size: 14px;
    }
  }