<div class="container">
  <div class="main-body">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center my-3">
      <div class="d-flex align-items-center">
        <h3 class="text-dark">List Of Tools</h3>
        <a class="add-sale-btn ms-3" (click)="openAddEditForm()">
          <mat-icon class="custom-add-icon">add_circle</mat-icon>
        </a>
      </div>
    </div>
    <hr class="custom-hr">

    <!-- Table Section -->
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div *ngIf="dataSource.data.length > 0" class="container text-center">
          <table mat-table [dataSource]="dataSource" matSort class="table table-striped custom-table center-text w-100">
            <!-- Define Columns -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Name</th>
              <td mat-cell *matCellDef="let tool">{{ tool.name }}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Description</th>
              <td mat-cell *matCellDef="let tool">{{ tool.description }}</td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Type</th>
              <td mat-cell *matCellDef="let tool">{{ tool.type }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-right: 130px;">Actions</th>
              <td mat-cell *matCellDef="let tool">
                <button mat-icon-button class="custom-edit-icon" (click)="openAddEditForm(tool)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="custom-delete-icon" (click)="deleteTool(tool.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- No Data Row -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{ toolName }}"</td>
            </tr>
          </table>
          <!-- Paginator -->
          <mat-paginator [length]="totalTools" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
          </mat-paginator>
        </div>
        <!-- Message when no data available -->
        <div *ngIf="dataSource.data.length === 0" class="container">
          <h3 class="alert alert-info">No tools data available.</h3>
        </div>
        <!-- Loading message -->
        <div *ngIf="!tools" class="container">
          <p class="alert alert-danger">Loading...</p>
        </div>
      </div>
    </div>
  </div>
</div>
