<h1 mat-dialog-title>Visit Details</h1>
<div mat-dialog-content>
 <p><strong>MedicalRip Full Name:</strong> {{ data.user_full_name }}</p>  
  <p><strong>Doctor Name:</strong> {{ data.doctor_name }}</p>
  <p><strong>Territory:</strong> {{ data.territory }}</p>
  <p><strong>City:</strong> {{ data.city }}</p>
  <p><strong>State:</strong> {{ data.state }}</p>
  <p><strong>Location Info:</strong> {{ data.location_info }}</p>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
