.forget_password_container{
    width: 40vw;
    
}
.forget_password_container form{
    margin-top: -4rem;
}

.forget_password_container input{
    width: 516px;
    height: 40px;

    padding-left: 20px;
    padding-right: 20px;
 
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background: #FFFFFFFF;
    border-radius: 26px;
    border-width: 1px;
    border-color: #9095A1FF;
    outline: none;
}

.send_email {
 
    width: 516px;
    height: 40px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    background: #1CA4AC;

    border: none;
    border-radius: 26px;
    }
    
    .send_email:hover {
    color: #FFFFFFFF;
    background: #008991;
    }

   .login_link{
     text-decoration: none;
     color: #16191E;
 
    }
    #arrow_icon{
        padding-top: 1rem;
    }