.admin-profile-container {
  max-width: 90%;
  padding: 40px;
  padding-left: 60px;
  margin-left: 540px;
  margin-top: 70px;
  background-color: #eff8f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 27px;
  margin-bottom: 15px;
}

.profile-form {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 2;
  margin-right: 30px; /* إضافة مسافة بين الأعمدتين */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: bold;
}

.profile-text {
  padding: 6px;
  background-color: #1ca4ac;
  border: 1px solid #f3f0f0;
  border-radius: 4px;
  color: #fff;
}

.profile-image-container {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.profile-image {
  max-width: 100px;
  max-height: 100px;
  height: auto;
}

.update-button {
  background-color: #1ca4ac;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center; /* توسيط الزرار في النصف */

  /* margin-top: 18px; */
  /* justify-content: center; */

}

.update-button:hover {
  background-color: #0250a3;
}
