.admin-profile-container {
  width: 450px;
  margin: 150px 550px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -75px; /* Adjust based on image height */
}

.profile-image-container {
  position: absolute;
  top: -75px; 
  left: 50%;
  transform: translateX(-50%);
  width: 180px; /* Increased size */
  height: 150px; /* Increased size */
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff; /* Match background color */
  border: 2px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-name {
  margin-top: 130px;
  font-weight: bold;
  font-size: 20px;
  color:#1CA4AC;
}

.profile-details {
  margin-top: 20px;
}

.form-group {
  display: flex;
  justify-content:space-between;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.profile-text {
  font-size: 14px;
  color: #555;
}

.update-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1CA4AC;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0056b3;
}
