.card {
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }
  
  .card-title {
    text-align: center;
  }
  
  .btn-primary {
    background-color: #1CA4AC;
    border-color: #1CA4AC;
  }
  
  .btn-primary:hover {
    background-color: #0f8189;
    border-color: #0f8189;
  }
  