<h1 mat-dialog-title>Update Visit</h1>
<div mat-dialog-content>
  <form [formGroup]="visitForm">
    <mat-form-field>
      <mat-label>Visit Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="visit_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Visit Time</mat-label>
      <input matInput formControlName="visit_time" type="time">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Purpose</mat-label>
      <input matInput formControlName="purpose">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Doctor</mat-label>
      <mat-select formControlName="doctor_id">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
          {{ doctor.first_name }} {{ doctor.last_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="doctor_city">
    </mat-form-field>

    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput formControlName="doctor_state">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="doctor_street">
    </mat-form-field>

  
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>

  <button mat-button (click)="onSave()">Save</button>
  <button mat-button color="warn" (click)="onDelete()">Delete</button>
  
</div>

